{% if site.footer-links.twitter %}
<a class="social-icon twitter" href="https://twitter.com/{{ site.footer-links.twitter }}" target="_blank">
  <span><i class="fa fa-twitter"></i></span>
</a>
{% endif %}

{% if site.footer-links.stackexchange %}
<a class="social-icon stack" href="https://stackexchange.com/{{ site.footer-links.stackexchange }}" target="_blank">
  <span><i class="fa fa-stack-exchange"></i></span>
</a>
{% endif %}

{% if site.footer-links.deviantart %}
<a class="social-icon deviantart" href="https://{{ site.footer-links.deviantart }}.deviantart.com" target="_blank">
  <span><i class="fa fa-deviantart"></i></span>
</a>
{% endif %}

{% if site.footer-links.github %}
<a class="social-icon github" href="https://github.com/{{ site.footer-links.github }}" target="_blank">
  <span><i class="fa fa-github"></i></span>
</a>
{% endif %}

{% if site.footer-links.gitlab %}
<a class="social-icon gitlab" href="https://gitlab.com/{{ site.footer-links.gitlab }}" target="_blank">
  <span><i class="fa fa-gitlab"></i></span>
</a>
{% endif %}

{% if site.footer-links.launchpad %}
<a class="social-icon launchpad" href="https://launchpad.net/~{{ site.footer-links.launchpad }}" target="_blank">
  <span><i class="fa fa-code"></i></span>
</a>
{% endif %}

{% if site.footer-links.medium %}
<a class="social-icon medium" href="https://medium.com/@{{ site.footer-links.medium }}" target="_blank">
  <span><i class="fa fa-medium"></i></span>
</a>
{% endif %}

{% if site.footer-links.steam %}
<a class="social-icon steam" href="https://steamcommunity.com/id/{{ site.footer-links.steam }}" target="_blank">
  <span><i class="fa fa-steam"></i></span>
</a>
{% endif %}

{% if site.footer-links.facebook %}
<a class="social-icon facebook" href="https://facebook.com/{{ site.footer-links.facebook }}" target="_blank">
  <span><i class="fa fa-facebook"></i></span>
</a>
{% endif %}
